/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Georgia', 'Times New Roman', serif;
  background-color: #000;
  color: #ffffff; /* cor das letras */
}

/* BARRA COM AS NAVS */
header {
  background-color: #c7c7c7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
}

.logo img {
  height: 60px;
}

/* MENU DE NAVEGAÇÃO */
nav ul {
 list-style: none;   /*tirar as bolinhas de lista */
}

nav ul div {
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;/*  tirar as linhas de baixo  */
  color: #444;
  font-style: italic;
  font-size: 16px;
}

nav a:hover {
  color: #000;
}

/* BOTÕES LOGIN / CADASTRO */
.botoes {
  display: flex;
  gap: 10px;
}

.botoes button {
  background-color: #ddd;
  border: 1px solid #999;
  padding: 6px 12px;
  font-style: italic;
  font-size: 14px;
   border-radius: 5px; /*para arredondar os botões */
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

.botoes button:hover {
  background-color: #bbb;
}

/*SEÇÃO PRINCIPAL*/
.Home {
  background-image: url(../assets/imgs/FundoHome.png); 
   background-size: cover; /*tamanho da imagem de fundo  */
  background-position: center;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content:flex-end;
  text-align: flex-end;
  position: relative;
}

/* TÍTULO */
.texto-principal h1 {
  font-size: 70px;
  line-height: 1.3;
  color: #fff;
   text-shadow: 3px 3px 6px #000; /* sombreado da letra */
  margin-bottom: 20px;
  -webkit-text-stroke: 2px black;  /*contorno da letra */
}

/* Subtítulo */
.texto-principal p {
  font-size: 18px;
  color: #e1e1e1;
  margin-bottom: 25px;  /*criando um espaço */
}

/* BOTÃO do SAIBA MAIS */
.saiba-mais {
  background-color: #c7c7c7;
  color: #000;
  border: none;
  padding: 8px 20px;
  font-style: italic;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.saiba-mais:hover {
  background-color: #a0a0a0;
}

/*  SEÇÃO SOBRE  */
.sobre {
background-image: url(file:///D:/Luana/Downloads/fundo.png);
  min-height: 100vh;
  padding: 60px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Título Sobre */
.sobre h1 {
  font-family: 'Georgia', 'Times New Roman', serif;
  font-size: 40px;
  color: #ffffff;
  align-self: flex-start;
  margin-bottom: 10px;
   -webkit-text-stroke: 2px black;  /*contorno da letra */
}

/* Container com imagem e texto */
.conteudo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1100px;
  margin-top: 10px;
}

/* Imagem e logo  */
.img-personagens {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55%;
}

.logo-bojack {
  width: 220px;
  margin-bottom: 20px;
}

.personagens {
  width: 100%;
  max-width: 550px;
  border: 2px solid #000;
  box-shadow: 4px 4px 8px #000;
}

/* Card do texto */
.coluna-texto {
  width: 40%;
  background-color: #ffffff;
  color: #000;
  padding: 25px 20px;
  font-family: 'Georgia', 'Times New Roman', serif;
   box-shadow: 4px 4px 8px #000;
  font-size: 15px;
  line-height: 2; /*altura do texto */
}

/*SEÇÃO PLATAFORMA */
.plataforma {
  background-image: url(file:///D:/Luana/Downloads/Desfoque.png);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  padding: 60px 20px;
}


/* Conteúdo do texto */
.plataforma .texto {
  max-width: 900px;
}

/* Subtítulo */
.plataforma h2 {
  font-size: 22px;
  font-weight: 400px;
  margin-bottom: 12px;
  line-height: 2;
}

/* Título principal */
.plataforma h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 2;
}

/* Texto em destaque */
.destaque {
  color: #00e0ff;
  font-weight: 700;
}

/* Texto */
.plataforma p {
  font-size: 18px;
  color: #ffffff;
  line-height: 1.7;
  margin-bottom: 35px;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

/* Botão */
.descubra {
  background-color: #00cfff;
  border: none;
  padding: 14px 40px;
  border-radius: 8px;
  color: #000;
   font-size: 18px; /* tamanho do botão */
   box-shadow: 0 0 15px #00cfff;
}

.descubra:hover {
  background-color: #02b8e6;
  box-shadow: #00e0ff;

}

/* SEÇÃO PERSONAGENS */
.personagens {
    background-color: #fff;
    text-align: center;
    margin: 0; 
}

.personagens h1 {
    font-size: 3em;
    color: #f1c40f;
}

.personagens h1 span {
    font-weight: bold;
}

.personagens h2 {
    font-size: 1.5em;
    color: #2c3e50;
    margin-top: 10px;
}

.personagens p {
    font-size: 1.1em;
    color: #7f8c8d;
    margin: 20px 0;
    line-height: 1.5;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

/* Card styling */
.cards .card-bojack, 
.cards .card-lynn, 
.cards .card-princess {
    width: 250px;
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 30px; 
}

.cards .card-bojack img,
.cards .card-lynn img,
.cards .card-princess img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.cards .card-bojack p, 
.cards .card-lynn p, 
.cards .card-princess p {
    font-size: 1.2em;
    color: #34495e;
}




